#container {
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

#header {
    background: #ffffff;
    padding: 20px;
}

#header h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin-top: 40px;

    font-size: 3em;
    padding-top: 10px;
}

#navigation {
    float: left;
    height: 50px;
    width: 100%;
    background: #555;
}

#navigation ul {
    height: 50px;
    margin: 0;
    width: 100%;
    padding-left: 0;
}

#navigation ul li {
    height: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    list-style-type: none;
    display: inline;
}

#navigation li a {
    height: 35px;
    display: block;
    float: left;
    width: 125px;
    padding: 15px 20px 0 35px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

#navigation li.about a:hover {
    background: #7F1637;
}

#navigation li.aboutbackground a {
    background: #7F1637;
}

.about {
    color: #7F1637;
}

#navigation li.resume a:hover {
    background: #FFB733;
}

#navigation li.resumebackground a {
    background: #FFB733;
}

.resume {
    color: #FFB733;
}

#navigation li.testimonials a:hover {
    background: #047878;
}

#navigation li.testimonialsbackground a {
    background-color: #047878;
}

.testimonials {
    color: #047878;
}

#navigation li.contact a:hover {
    background: #C22121;
}

#navigation li.contactbackground a {
    background: #C22121;
}

.contact {
    color: #C22121;
}

#content-container {
    float: left;
    width: 100%;
    /*background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 5%;*/
}

.content {
    min-height: 300px;
    font-family: 'Merriweather', serif;
    color: #555;
    clear: left;
    float: left;
    min-width: 200px;
    width: 50%;
    padding: 20px 0;
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
}

#home h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-variant: small-caps;
    margin: 0;
}

#aside {
    background-color: #eee;
    color: #555;
    float: right;
    width: 275px;
    height: 400px;
    padding: 10px 0 0 10px;
    margin: -100px 1% 1% 0;
    display: inline;
}

#aside img {
    margin-left: 10%;
    margin-right: 10%;
}

#aside p {
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

#footer {
    position: static;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: 2%;
    width: 30%;
    clear: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    background: #eee;
    text-align: left;
    padding: 5px;
    height: 12px;
}

dd {
    display: list-item;
    list-style-type: disc;
}