<div class="content" id="home">
  <h2 class="about">
    About Me
  </h2>

  <p>
    I advocate a straightforward approach as a high school college counselor:
    the
    focus must be finding the best particular path for each student. In some
    cases, this means pursuing admission at the country’s most elite private
    universities. In other cases, this means searching for just the right quirky
    liberal arts college. Sometimes this means starting off in community
    college, and sometimes this means taking one or two gap years in exploration
    of other possibilities.
  </p>

  <p>
    Every child is different. My commitment is to find and understand these
    differences.
  </p>

  <dl>
    <dt>Listed here is a selection of the services I offer:</dt>
    <dd>Optimizing high school course selection.</dd>
    <dd>Honing extracurricular activities to help your competitiveness.</dd>
    <dd>Walking through the college application process, from the big picture
      (which schools are good fits and realistic targets) to the fine details
      (how to approach the college essay).
    </dd>
    <dd>Helping with assistance available through the Free Application for
        Federal Student Aid (FAFSA).
    </dd>
  </dl>

  <p>
    Prior to my work as an independent college counselor, I spent 15
    years as a high school college counselor in Portland Public Schools. I
    worked with at-risk youth populations, and, for the bulk of my career, I
    worked in the competitive halls of Lincoln High School.
  </p>

  <p>
    I’m the mother of two grown sons, and so consider myself personally close to
    this moment of transition. Please get in touch if you’d like to learn more
    about how I might help.

  </p>
</div>
