<div class="content" id="home">
  <h2 class="contact">
    Contact Me
  </h2>

  <p>
    Please reach out by phone or email. I’m happy to schedule a free one-hour
    consultation to determine if my services suit your needs, and to go over
    pricing options. I am sensitive to the fact that this process can be
    financially stressful; I don’t want that alone to prevent your child from
    finding the best available options. So let’s talk.
  </p>

  <p>
    e: <a href="mailto:anniewalsh2@gmail.com">anniewalsh2@gmail.com</a>
    <br/>
    p: 503-203-8511
  </p>


</div>