<div class="content" id="home">
  <h2 class="resume">
    Background
  </h2>

  <p>
    <em>Master’s in School Counseling</em>
    <br/>
    Lewis & Clark Graduate School of Education and Counseling
  </p>

  <p>
    <em>High School Counselor/College Coordinator</em>
    <br/>
    Portland Public Schools -- 10 years at Lincoln High School
  </p>

  <p>
    Continuing education through College Board webinars & conferences
  </p>

  <p>

  <br/>
  <hr/>
  <br/>

  <p>
    <em>The New York Times</em> columnist Frank Bruni, in an essay about the college application process, lucidly
    describes the squeeze of today's “admissions mania.” Because <b>my personal philosophy</b> aligns
    with much of what Bruni says, I’ve excerpted a few paragraphs below. I would encourage
    all high school parents to read the full article: <a href="http://www.nytimes.com/2015/03/15/opinion/sunday/frank-bruni-how-to-survive-the-college-admissions-madness.html?_r=0" target="_blank">
    “How to Survive the College Admissions Madness</a>”
  </p>

  <p>
    <em>For too many parents and their children, acceptance by an elite institution isn’t just another challenge,
    just another goal. A yes or no from Amherst or the University of Virginia or the University of Chicago is seen
    as the conclusive measure of a young person’s worth, an uncontestable harbinger of the accomplishments or
    disappointments to come. Winner or loser: This is when the judgment is made. This is the great, brutal culling.
  </p>

  <p>
    What madness. And what nonsense...
  </p>

  <p>
    There’s only so much living and learning that take place inside a lecture hall, a science lab or a dormitory.
    Education happens across a spectrum of settings and in infinite ways, and college has no monopoly on the
    ingredients for professional achievement or a life well lived...
  </p>

  <p>
    College is a singular opportunity to rummage through and luxuriate in ideas, to realize how very large the world
    is and to contemplate your desired place in it. And that’s lost in the admissions mania, which sends the message
    that college is a sanctum to be breached — a border to be crossed — rather than a land to be inhabited and tilled
    for all that it’s worth.</em>
  </p>

</div>