<div class="content" id="home">
  <h2 class="testimonials">
    Testimonials
  </h2>

  <blockquote>
    Annie Walsh is, hands down, one of the best college counselors I’ve ever
    worked with. She genuinely adores students and she is able to ask the right
    questions, listening for the particular details to help students discover
    their interests and passions. She has successfully helped thousands of
    students with course selection, International Baccalaureate and college
    planning, and scholarship applications. I unconditionally and
    enthusiastically recommend her to every family looking for extra college and
    scholarship planning support.

    <footer>—
      <cite>Peyton Chapman, Principal, Lincoln High School</cite>
    </footer>
  </blockquote>

  <br>

  <blockquote>
    Simply put, Annie is the one of the finest high school counselors I have
    ever worked with. Annie is energetic, focused, and highly responsive to the
    needs of the students and families she works with. With great clarity she
    understands high school curriculum and how it is aligned with what
    universities and colleges are looking for in their applicants.
    <footer>—
      <cite>
        Cameron Neal, Curriculum Vice-Principal, Lincoln High School
      </cite>
    </footer>

  </blockquote>

  <br>

  <blockquote>
    Annie Walsh spent several years as a High School Counselor addressing
    students' emotional, academic, and college planning needs. Instead of just
    focusing on the the process of choosing the "right college," Annie makes her
    students' emotional well-being a priority. At such a stressful time in a
    young person's life, Annie offers reassurance and helps students and parents
    keep the process in perspective.

    <footer>—
      <cite>
        Peg Schoettle, Counselor, Madison High School
      </cite>
    </footer>
  </blockquote>

</div>